ion-img{
    width: 180px;
    margin: 0 auto;
    margin-top: 20px;
}

form{
    margin-top: 10px;

    ion-button{
        margin: 0 auto;
        display: block;
        width: 150px;
        margin-top: 20px;
    }
}