.card
{
  display:inline-table;

}

#bloc_1{display:table-cell; width: 150px;}
#bloc_2{display:table-cell; width: 150px;}
#bloc_3{display:table-cell; width: 150px;}
#bloc_4{display:table-cell; width: 150px;}
