img{
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .connexion{
    width: 200px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .inscription{
    width: 200px;
    height: 40px;
    border-radius: 50%;
    background-color:orange;
    margin: 0 auto;
    margin-top:30px;
  }
  h1
  {
    text-align: center;
    margin-top: 100px;
  }
  